<h1>My Blog Application</h1>


<section class="posts">
	<p class="posts-summary">There are at this moment <strong><%= @posts.count %></strong> posts.</p>
	<% @posts.each do |p| %>
	<div class="post">
		<h1><%= p.title %> <em>(Last updated at <%= p.updated_at.strftime("%H:%M - %d-%m-%Y") %>)</em></h1>
		<section class="content">
			<%= simple_format p.content %>
		</section>
		<p class="actions">
			<%= link_to "View post", p %>
			<%= link_to 'Delete', p, method: :delete, data: {confirm: "Do you really want to delete post with title: #{p.title} ?"} %>
		</p>
	</div>
	<% end %>
</section>

<%= link_to "Add new post", new_post_path %>